*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 2% 5% 0;
}

/* BANNER START */
.home-banner{
    background-image: url(/assets/image/design1_image1.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.section-title-ctn{
    background-color: black;
    margin-top: 10px;
}

.banner-title{
    font-size: 4.5rem;
    padding: 10px;
}

.logo{
    height: 200px;
    position: absolute;
    right: 12%;
    top: 36%;
}

.section-title{
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 10px 0;
}
/* BANNER ENDS */

/* MAIN START */
#main-ctn{
    display: flex;
    padding: 3% 10% 0 5%;
}

.navbar{
    height: 30vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-link{
    font-size: 1.2em;
}

.event-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px; 
    width: 80%;
}

.event-item{
    padding: 10px 0;
}

.event-item-title{
    font-size: 1.7rem;
}

.event-item-p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.active{
    text-decoration: none;
    color: black;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.sangria{
    text-indent: 20px;
}

.start{
    justify-content: flex-start;
}
/* MAIN ENDS */