@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 2% 5% 0;
}

/* BANNER START */
.home-banner{
    background-image: url(./image/design1_image1.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.section-title-ctn{
    background-color: black;
    margin-top: 5px;
}

.banner-title{
    font-size: 4rem;
    padding: 0 5px;
}

.logo{
    height: 200px;
    position: absolute;
    right: 12%;
    top: 36%;
}

.section-title{
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 10px 0;
}
/* BANNER ENDS */
/* NAVBAR starts*/
#main-ctn{
    padding: 3% 10% 10% 5%;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.navbar{
    height: 30vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-link{
    font-size: 1.2em;
    width: max-content;
}
/* NAVBAR ends */
/* INDEX EVENTS starts*/
.event-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px; 
    width: 80%;
}

.event-item{
    padding: 10px 0;
}

.event-item-title{
    font-size: 1.7rem;
}

.event-item-p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}
/* INDEX EVENTS ends */
/* GAME INFORMATION starts */
.schedule-ctn{
    margin: 30px 0 0 30px;
}

.gi-title{
    font-size: 3rem;
    margin-bottom: 30px;
}

.sch-title{
    margin-bottom: 10px;
}

.sch-subtitle{
    text-decoration: underline;
}

.table thead>tr>th{
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
}

.table td{
    padding: 10px 0;
    font-size: 1.1em;
}
.table{
    margin: 30px auto 15px;
    width: 70%;
}

.time{
    text-align: right;
}

.p2{
    margin: 10px 0 15px;
}

.p3{
    margin-bottom: 10px;
}
/* GAME INFORMATION ends */
/* RULES starts */
.rules-ctn{
    width: 90%;
    margin: 30px auto 15px;
}

.rules-title{
    font-size: 1.5rem;
}

.rules-section-title{
    margin: 20px 0;
}

.field-ptn{
    margin: 20px 0;
}

.lista-circle{
    margin-left: 3rem;
}

.letter-list{
    list-style: lower-latin;
}
/* RULES ends */
/* GENERAL CLASSES */
.active{
    text-decoration: none;
    color: black;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.sangria{
    text-indent: 20px;
}

.start{
    justify-content: flex-start;
}

.center{
    text-align: center;
}

.space-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}